/*--Importing Fonts---*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Caveat&family=Orbitron&display=swap');
     
*,
*::before,
*::after{
   padding:0;
   margin:0;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   outline:none;
   -webkit-tap-highlight-color:transparent;
   transition: .2s;
}

/*---CSS Variables---*/
:root{
   --theme:#6a8;
   --theme-D:#597;
   --theme-D-trans:rgba(100,150,125,.4);
   --theme-L:#8BA;
}

button{
   display:block;
   background:transparent;
   border:none;
   color:#fff;
   font-weight:bolder;
   cursor:pointer;
}
html,body{
   width:100%;
   height:100%;
   overflow-x: hidden;
   font-size:18px;
   scroll-behavior: smooth;
   font-family:"Roboto", Sans-Serif;
}

body{
   position:relative;
   color:#fff;
}
.container{
   height: 100vh;
   position: relative;
   overflow: hidden;
}
#loadin_pg,#mnPlrBtn,#srchFild,.themeClos,#hdphone::before,#hdphone::after,#fixPlrWrap{
   left:50%;
   -webkit-transform:translateX(-50%);
   transform:translateX(-50%);
}

section{
   overflow-x: hidden;
   width:100%;
   height:100%;
   position:relative;
   background:-webkit-linear-gradient(bottom right, #000,#222,#000);
   background:linear-gradient(to bottom right, #000,#222,#000);
   overflow-y:scroll;
   z-index:2;
   margin:auto;
}

#loadin_pg{
   z-index:10;
   padding-top: 6.25rem;
   position:fixed;
   top:0;
   -webkit-transition:top .3s;
   transition:top .3s;
}
#hdphone{
   width:11rem;
   height:9.4rem;
   position:relative;
   margin:auto;
   border:1.3rem #aaf solid;
   border-bottom:0 transparent solid;
   border-radius:50% 50% 10% 10%;
}
#hdphone::before{
   content:"";
   width:2.9rem;
   height:2.9rem;
   display:block;
   border-radius:50%;
   background:white;
   position:absolute;
   top:1.4rem;
}
#hdphone::after{
   content:"";
   border:.8rem transparent solid;
   border-left:1rem #aaf solid;
   border-right-width:0;
   position:absolute;
   margin-left:.1rem;
   top:2.05rem;
}
#hdphone>.left,#hdphone>.right{
   position:absolute;
   padding:2.1rem .9rem;
   background:#99e;
   border-radius:1rem;
   bottom:-1.2rem;
   overflow:hidden;
   box-shadow:0 0 .3rem #222;
}
#hdphone>.left{
   left:-1rem;
}
#hdphone>.right{
   right:-1rem;
}
#hdphone>.left::before,#hdphone>.right::before,#hdphone>.left::after,#hdphone>.right::after{
   content:"";
   width:14%;
   height:100%;
   position:absolute;
   top:0;
   background:white;
}
#hdphone>.left::before{
   right:.5rem;
}
#hdphone>.left::after{
   left:.65rem;
}
#hdphone>.right::before{
   left:.5rem;
}
#hdphone>.right::after{
   right:.65rem;
}

.freqCont{
   width:100%;
   height:3.8rem;
   position:absolute;
   bottom:-1rem;
   padding:0 1.5rem;
}
.freq{
   display:block;
   width:.55rem;
   height:30%;
   background:-webkit-radial-gradient(left,#dda8c6,#c68);
   background:radial-gradient(at left,#dda8c6,#c68);
   border-radius:.7rem;
   -webkit-animation:beat 3s infinite;
   animation:beat 3s infinite;
}
.f1,.f5{
   -webkit-animation-delay:1s;
   animation-delay:1s;
}
.f2,.f4{
   -webkit-animation-delay:.5s;
   animation-delay:.5s;
}

@keyframes beat{
   0%{
      height:30%;
   }
   50%{
      height:100%;
   }
   100%{
      height:30%;
   }
}
@-webkit-keyframes beat{
   0%{
      height:30%;
   }
   50%{
      height:100%;
   }
   100%{
      height:30%;
   }
}

#appNm{
   color:#f9b;
   width:100%;
   font-size:2rem;
   text-align:center;
   position:absolute;
   font-family:"Ubuntu",sans-serif;
   bottom:6%;
   font-weight:bold;
   letter-spacing:2px;
}
#appNm>small{
   font-size:.7rem;
   display:block;
   letter-spacing:normal;
   line-height:2.3;
   color:#bbf;
   font-family:'Orbitron', Monospace;
}
#appNm::before,#songLoader1>span{
   content:"";
   width:2.6rem;
   height:2.6rem;
   border-radius:50%;
   display:block;
   border:.3rem transparent solid;
   margin:1.5rem auto;
   border-color:rgba(170,170,255,.8) rgba(170,170,255,.15) rgba(170,170,255,.35) rgba(170,170,255,.55);
   -webkit-animation:spin .5s linear infinite;
   animation:spin .5s linear infinite;
}
@keyframes spin{
   from{
      transform:rotate(0);
   }
   to{
      transform:rotate(360deg);
   }
}
@-webkit-keyframes spin{
   from{
      -webkit-transform:rotate(0);
   }
   to{
      -webkit-transform:rotate(360deg);
   }
}

#player{
   position:fixed;
   z-index:8;
   background:#222;
   top:100%;
   color:white;
   width:100%;
   /* max-width:480px; */
   padding:0;
   transition:top .3s;
   flex-direction:column;
   -webkit-box-orient:vertical;
   justify-content: space-between;
   -webkit-transition:top .3s;
   transition:top .3s;
}
#player{
   -webkit-animation:cmFbot .3s;
   animation:cmFbot .3s;
   font-size: 20px;
}

.header,.nav,.songCnt,.likSongCnt,.aNd,#fixPlayer,#plrTop,#plrBot,#playCnt,#track_set>div,#songDet3,#srchFild,#setiTop,#themePlat>div>div,.freqCont,#player,#songLoaader1{
   display:-webkit-box;
   display:flex;
}
.songCnt,.likSongCnt,.aNd,#fixPlayer,#plrTop,#playCnt,#songDet3,#srchFild,#setiTop,.freqCont, #songLoader1{
   -webkit-box-align:center;
   align-items:center;
}
.header{
   font-size:1.2rem;
   font-weight:bold;
   padding:.2rem 0;
   background:var(--theme-D);
   position: relative;
   z-index: 50;
}
.header>span,.nav>button,.aNd,#songDet2,#plrTop>div,#searchBar,#setiTop>p,.container{
   flex:1;
   -webkit-box-flex:1;
}
.header>span{
   padding:.6rem 1rem;
   display:block;
   font-family:"Caveat", Cursive;
   font-size:1.3rem;
   letter-spacing:1px;
}
.header>button{
   font-size:1.1rem;
   width:2.9rem;
   height:3rem;
   margin:0 1px;
   border-radius:50%;
}

#srchFild{
   position:absolute;
   top:0;
   width:0;
   overflow:hidden;
   height:3rem;
   background:var(--theme-D);
   -webkit-transition:width .3s;
   transition:width .3s;
}

#srchBack{
   width:3rem;
   height:100%;
   font-size:1.5rem;
   padding-bottom: 7px;
}

#searchBar{
   border:0;
   font-size:1rem;
   display:block;
   height:90%;
   color:#fff;
   background:transparent;
   padding:.2rem .6rem 0 .2rem;
   margin-right:1rem;
}

.nav{
   background:-webkit-linear-gradient(var(--theme-D),var(--theme),var(--theme));
   background:linear-gradient(var(--theme-D),var(--theme),var(--theme));
   width:100%;
   height:2.9rem;
   position:sticky;
   z-index: 50;
   top: -1px;
   border-radius:0 0 1.4rem 1.4rem;
}
.nav>button{
   border-radius:2.5rem;
   margin:0 .15rem;
   font-size:.8rem;
   position:relative;
   z-index:3;
}
#slider{
   width:50%;
   height:100%;
   position:absolute;
   z-index:1;
   left:0;
   transition:left .3s;
   -webkit-transition:left .3s;
}
#slider::before{
   content:"";
   width:100%;
   height:100%;
   display:block;
   background:rgba(0,0,0,.08);
   border-radius:2.9rem;
   box-shadow:inset 0 0 3px #333;
}
#allSongs,#favs{
   position:relative;
   padding-bottom:4.4rem;
   height: 100%;
}
#allSongs{
   -webkit-animation:cmFleft .3s;
   animation:cmFleft .3s;
}
#favs{
   display:none;
   -webkit-animation:cmFright .3s;
   animation:cmFright .3s;
}
.songCnt,.likSongCnt{
   padding:.5rem 0;
   margin:.2rem;
   border-radius:.4rem;
   background:-webkit-linear-gradient(top left, rgba(255,255,255,.1),transparent,rgba(255,255,255,.1));
   background:linear-gradient(to top left, rgba(255,255,255,.1),transparent,rgba(255,255,255,.1));
   left:0;
   position:relative;
   -webkit-transition:left .3s, background-color .3s;
   transition:left .3s, background-color .3s;
}
.alb1{
   width:3rem;
   height:3rem;
   border-radius:.4rem;
   margin:0 .5rem 0 ;
   display:block;
   box-shadow:0 0 .3rem #555;
}
.toLik,.liked,.lik{
   width:2.5rem;
   height:3rem;
   padding:0 .6rem;
   font-size:1.2rem;
   color:var(--theme);
   margin-right:.3rem;
}
.liked,.lik{
   -webkit-animation:like 1s;
   animation:like 1s;
}
.aNd{
   padding-right:.5rem;
}
.name1,.singer1,#name2,#singers2,#name3,#singers3{
   overflow:hidden;
   text-overflow: ellipsis;
   white-space:nowrap;
   position:relative;
   padding-left:.2rem;
}
.name1,#name2{
   padding-bottom:.15rem;
   font-size:.9rem;
}
.singer1,#singers2{
   font-size:.8rem;
   padding-top:.1rem;
   color:#ccc;
}
#fixPlrWrap{
   position:fixed;
   max-width:480px;
   margin:0 auto;
   z-index:20;
   bottom:0;
   width:100%;
   height:4.5rem;
   padding:0 0 .1rem;
   -webkit-transition:bottom .3s;
   transition:bottom .3s;
}
#fixPlayer{
   flex-wrap: nowrap;
   height:100%;
   background:var(--theme-D-trans);
   -webkit-backdrop-filter:blur(10px);
   backdrop-filter:blur(10px);
   border-radius:.7rem;
   padding:0 .3rem;
   margin:0 .2rem;
}
#mnPlrBtn,.cntrlsB{
   font-size:1.3rem;
   padding-bottom:.4rem;
}
#mnPlrBtn{
   font-size:1.1rem;
   position:absolute;
   top:-1rem;
   background:var(--theme);
   border-radius:50%;
   width:2.2rem;
   height:2.2rem;
   padding-top:.2rem;
}
#alb2,.albm{
   width:3.4rem;
   height:3.4rem;
   border-radius:.5rem;
   display:block;
   position:relative;
}
.albm{
   margin:0 .2rem;
}
#name2,#singers2{
   padding-left:.4rem;
   padding-right:.3rem;
}
#name2{
   font-size:.95rem;
   padding-bottom:.2rem;
}
#searchBar::placeholder{
   color:#333;
}
.cntrlsB{
   width:2.6rem;
   font-size:1.6rem;
   height:90%;
}
.bi-arrow-clockwise{
   font-size:1.5rem;
}

/*---Player----*/

#plrTop,#setiTop{
   height:4em;
   padding:0 5px;
}
#setiTop{
  height:4rem;
}

#plrTop>button,#setiTop>button{
   width:2.8em;
   height:3em;
   font-size:1.2em;
   color:#fff;
}
#setiTop>button{
   width:2.8rem;
   height:2.8rem;
}

#plrTop>div{
   font-size:.85em;
   text-align:center;
   line-height:1.3;
   color:var(--theme-L);
   font-weight:bold;
}
.lin2{
   color:#bbb;
   font-size:.8em;
   font-weight:500;
}

#plrMid{
   max-width: 400px;
   margin: 0 auto;
   padding:0 1em;
}
#alb3Back{
   width:100%;
   min-height:18em;
   position:relative;
   border-radius:8px;
   display:block;
   padding:1em;
}
#songLoader1{
   justify-content: center;
   -webkit-box-pack: center;
}
#songLoader1,#songLoader2{
   width:100%;
   height:100%;
   background:rgba(0,0,0,.6);
   position:absolute;
   top:0;
   left:0;
   z-index:5;
   display:none;
}
#songLoader2{
   border-radius:.5rem;
}
#songLoader1>span{
   margin:7.5rem auto;
}
#songLoader2>span{
   position:absolute;
   width:2rem;
   height:2rem;
   margin:.7rem;
   top:0;
   left:0;
   border-radius:50%;
   border:.3rem transparent solid;
   border-color:rgba(170,170,255,.8) rgba(170,170,255,.15) rgba(170,170,255,.35) rgba(170,170,255,.55);
   -webkit-animation:spin .5s linear infinite;
   animation:spin .5s linear infinite;
}
@keyframes spin{
   from{
      transform:rotate(0);
   }
   to{
      transform:rotate(360deg);
   }
}
@-webkit-keyframes spin{
   from{
      -webkit-transform:rotate(0);
   }
   to{
      -webkit-transform:rotate(360deg);
   }
}

.nxt{
   -webkit-animation:cmFright .3s;
   animation:cmFright .3s;
}
.prev{
   -webkit-animation:cmFleft .3s;
   animation:cmFleft .3s;
}

#alb3Back::before{
   content:"";
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   z-index:1;
   -webkit-backdrop-filter:blur(3px);
   backdrop-filter:blur(3px);
}

#alb3{
   display:block;
   width:100%;
   position:relative;
   border-radius:15px;
   box-shadow:0 0 10px rgba(0,0,0,.5);
   z-index:3;
}

#plrBot{
   flex-direction:column;
   -webkit-box-orient:vertical;
   padding:0 .3em;
}
#songDet3{
   padding:.3em 1em;
}

.songDet,#songDet3>div,#songDet2{
   -webkit-box-flex:1;
   flex:1;
   padding-top:.5em;
   overflow:hidden;
   font-size:1.1em;
}

#name3{
   padding:.25em .2em .25em 0;
}

#singers3{
   font-size:.75em;
   padding:.1em 0 .5em;
   color:#bbb;
}

#mnPlrLik{
   font-size:1.3em;
   padding:0 .2em;
}

#track_set{
   padding:.1em 0 0;
}

#track{
   -webkit-appearance:none;
   appearance: none;
   display:block;
   margin:.5em auto;
   border-radius:.3em;
   width:90%;
   height:.3em;
   background:var(--theme-D-trans);
}

#track::-webkit-slider-thumb{
   -webkit-appearance:none;
   width:1em;
   height:1em;
   border-radius:50%;
   background:var(--theme);
   box-shadow:inset 0 0 .2em #999,inset 0 0 0 .35em #eee;
   cursor:pointer;
}

#track::-mox-range-thumb{
   width:1em;
   height:1em;
   border-radius:50%;
   background:transparent;
   box-shadow:inset 0 0 0 .35em #eee;
   cursor:pointer;
}

#track::-ms-thumb{
   width:1em;
   height:1em;
   border-radius:50%;
   background:transparent;
   box-shadow:inset 0 0 0 .35em #eee,-10em 0 0 10em blue;
   cursor:pointer;
}

#playCnt{
   padding:0 1.2em .2em;
}

#track_set>div{
   margin:.6em auto .3em;
   width:90%;
}

#playCnt,#plrBot,#track_set>div,#themePlat>div>div,.freqCont{
   justify-content:space-between;
   -webkit-box-pack: justify;
}

#curDur,#endDur{
   display:block;
   font-size:.8em;
   padding:.25em;
}

#nxt,#prev,#play,#loop,#share{
   padding:0 0 .1em;
   color:#fff;
   font-weight:bolder;
   font-size:1.4em;
   width:2.4em;
   height:2.4em;
   background:rgba(0,0,0,.3);
   border-radius:50%;
   line-height:1;
   box-shadow:inset 0 0 .5em .2em var(--theme-L);
}
#loop,#share{
   color:#fff;
   font-size:.8em;
   border-radius:50%;
   width:1.8em;
   height:1.8em;
   box-shadow:none;
}

.clck{
   -webkit-animation:clck .8s;
   animation:clck .8s;
}
@keyframes clck{
   0%{
      transform:scale(1);
      opacity:1;
   }
   50%{
      transform:scale(1.15);
      opacity:.75;
      background:var(--theme);
   }
   100%{
      transform:scale(1);
      opacity:1;
   }
}
@-webkit-keyframes clck{
   0%{
      -webkit-transform:scale(1);
      opacity:1;
   }
   50%{
      -webkit-transform:scale(1.15);
      opacity:.75;
      background:var(--theme);
   }
   100%{
      -webkit-transform:scale(1);
      opacity:1;
   }
}

#playCnt>#play{
   width:2.2em;
   height:2.2em;
   font-size:2em;
   padding:0 0 .15em;
}

/*---Settings----*/

#settings{
   width:100%;
   height:100%;
   top:0;
   background:#222;
   z-index:25;
   display:none;
   padding:0;
   color:white;
   position:absolute;
   overflow:auto;
}

#setiTop{
   height:3.5rem;
}

#setiTop>button{
   font-size:1.6rem;
}

#setiTop>p{
   font-size:.9rem;
   padding-left:1rem;
   padding-top:.2rem;
}

#setting{
   margin:0 .4rem;
   z-index:5;
   position:relative;
}

#setting>div{
   position:relative;
   background:rgba(255,255,255,.1);
   border-radius:.55rem;
   margin:1.6rem auto .2rem;
   padding:1.5rem 0 .8rem;
}

.seti{
   padding:.7rem 1.4rem;
   font-size:.9rem;
}

.setiHdi{
   padding:.5rem .9rem;
   background:var(--theme);
   position:absolute;
   top:-1rem;
   border-radius:.55rem;
   font-weight:bold;
   margin:0 .7rem;
}

#volum{
   width:100%;
   display:block;
   margin-top:.5rem;
   height:.3rem;
}

.seti>p{
   font-size:.7rem;
   color:silver;
   margin-top:.25rem;
}

#themePlat{
   position:absolute;
   width:100%;
   height:100%;
   top:0;
   left:0;
   z-index:20;
   background:rgba(0,0,0,.3);
   display:none;
   place-items: center;
}
#themePlat>div{
   width:90%;
   padding:1rem 1rem;
   background:#333;
   border-radius:.5rem;
   position:relative;
   box-shadow:0 0 .7rem .1rem rgba(0,0,0,.4);
}
#themePlat>div>div{
   flex-wrap:wrap;
}

.theme{
   display:block;
   width:3.5rem;
   height:3.5rem;
   border-radius:50%;
   background:red;
   margin:.7rem .5rem;
   box-shadow:0 0 .4rem #444;
}
.th1{background:#DA4267;}
.th2{background:#4B839B;}
.th3{background:#6A8;}
.th4{background:#AD6444;}
.th5{background:#7D53DE;}

.themeClos{
   color:var(--theme);
   position:relative;
   font-size:1rem;
   text-shadow:0 0 .15rem #333;
   display: block;
   padding:1rem 0 .5rem;
}

#curTheme{
   background:var(--theme);
   width:.7rem;
   height:.7rem;
   border-radius:50%;
   display:inline-block;
   margin:0 .5rem -.1rem;
}

#right{
   text-align:center;
   color:var(--theme);
   font-size:.65rem;
   padding:.3rem 0;
   font-weight:bold;
   background:#222;
}

@keyframes like{
   0%{
      transform:scale(.8);
      text-shadow:0 0 .1rem var(--theme-D);
   }
   50%{
      transform:scale(1.3);
      text-shadow:0 0 .7rem var(--theme-D);
   }
   100%{
      transform:scale(1);
      text-shadow:0 0 .1rem var(--theme-D);
   }
}
@-webkit-keyframes like{
   0%{
      -webkit-transform:scale(.8);
      text-shadow:0 0 .1rem var(--theme-D);
   }
   50%{
      -webkit-transform:scale(1.3);
      text-shadow:0 0 .7rem var(--theme-D);
   }
   100%{
      -webkit-transform:scale(1);
      text-shadow:0 0 .1rem var(--theme-D);
   }
}
@keyframes cmFleft{
   from{left:-100%;}
   to{left:0;}
}
@-webkit-keyframes cmFleft{
   from{left:-100%;}
   to{left:0;}
}
@keyframes cmFright{
   from{left:100%;}
   to{left:0;}
}
@-webkit-keyframes cmFright{
   from{left:100%;}
   to{left:0;}
}
@keyframes cmFright2{
   from{left:100%;}
   to{left:50%;}
}
@-webkit-keyframes cmFright2{
   from{left:100%;}
   to{left:50%;}
}
@keyframes cmFbot{
   from{top:100%;}
   to{top:0;}
}
@-webkit-keyframes cmFbot{
   from{top:100%;}
   to{top:0;}
}

/* Media Query */
@media screen and (min-width:781px){
   html{
      font-size:18px;
   }
   body{
      display: flex;
   }
   #music_pg{
      max-width: 100%;
   }
   #player{
      display: -webkit-box;
      display: flex;
      position: sticky;
      width: 480px;
      top: 0;
   }
   #fixPlrWrap{
      margin:0 auto;
      display: none;
   }
   #mnPlrBtn{
      display: none;
   }
   .plrBack{
      visibility: hidden;
   }
}
